.inner.cover
  %h1.cover-heading Accounting Amazing
  %p.lead This app keeps track of all accounting transactions from RailsExample Company
  %p.lead
    %a.btn.btn-lg.btn-default{:href => "#"} Learn more
