.mastfoot
  .inner
    %p
      Cover template for
      = succeed "," do
        %a{:href => "http://getbootstrap.com"} Accounting App
      by
      = succeed "." do
        %a{:href => "https://github.com/chabzlala29"} @chabz
